<!DOCTYPE html>
<html lang="en">
<head>
    <title>News Trends</title>
    <script src='../static/jquery-3.6.3.min.js'></script>
    <link rel='stylesheet' type='text/css' href='../static/styles.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id='title'>
    <h1>Ever wonder what is really covered more in the news?</h1>
    <h2 id="subtitle">Now you can find out!</h2>
</div>
<div id='search_terms_home'>
    <input id='search_term' class='search_term' placeholder='Enter a term...' required>
</div>
<div id="explanation">
    <p>
        <b>News Trends</b> allows you to check how frequently any keyword
        appeared in news articles over the last month:
    </p>
    <p>
        <br>• Simply type in your keyword and hit enter<br>• You can also search for
        a second keyword to compare results (available on the <a href="search">next page</a>)
    </p>
</div>
</body>
</html>

<script>
    $('#search_term').on('change', function () {
        let searchTerm = $('#search_term').val();
        if (searchTerm !== '') {
            window.location.href = 'search?term1=' + searchTerm;
        } else {
            alert('Please enter a keyword')
        }
    });
</script>