<!DOCTYPE html>
<html lang='en'>

<head>
    <title>News Trends</title>
    <script src='../static/jquery-3.6.3.min.js'></script>
    <script src='../static/jquery-ui.min.js'></script>
    <link rel='stylesheet' type='text/css' href='../static/styles.css'>
</head>

<body>
<div id='title'>
    <h1>Enter a search term to see its news relevance</h1>
</div>

<div id='inputs' class='inputs'>
    <div id='search_terms'>
        <input id='search_term_1' class='search_term' placeholder='Enter a term...' required>
        <input id='search_term_2' class='search_term' placeholder='Enter a term...'>
    </div>

    <div id='filters'>
        <div id='dates' class='filter'>
            <br>
            <label for='date_from'>&nbspStarting date:</label>
            <input type='date' id='date_from' name='date_from' onchange='validateDates();'>
            <br>
            <label for='date_to'>&nbspEnding date:</label>
            <input type='date' id='date_to' name='date_to' onchange='validateDates();'>
            <br><br>
        </div>

        <div id='dropdowns' class='filter'>
            <label for='language'>Language:</label>
            <select name='language' id='language'></select>
            <br>
            <label for='country'>Country:</label>
            <select name='country' id='country'></select>
            <br>
            <label for='category'>Category</label>
            <select name='category' id='category'></select>
        </div>

        <div id='search_in' class='filter'>
            <br>
            <span>Select article location to search:</span>
            <br>
            <input type='checkbox' id='search_in_select_all' value='title,description,content' checked='checked'
                   onclick='toggle_select_all_checkbox(this)'>
            <label for='search_in_select_all'>Select All</label>
            <br>
            <input type='checkbox' name='search_in' id='search_in_title' value='title' checked='checked'
                   onclick='toggle_checkbox(this)'>
            <label for='search_in_title'>Article Title</label>
            <br>
            <input type='checkbox' name='search_in' id='search_in_description' value='description' checked='checked'
                   onclick='toggle_checkbox(this)'>
            <label for='search_in_description'>Article Description</label>
            <br>
            <input type='checkbox' name='search_in' id='search_in_content' value='content' checked='checked'
                   onclick='toggle_checkbox(this)'>
            <label for='search_in_content'>Article Content</label>
            <br>
            <br>
        </div>
    </div>
</div>

<div id='results'>
    <div id='result_1' class='result'>
        <div id='result_1_num_articles'></div>
        <div id='result_1_num_occurrences'></div>
        <div id='result_1_articles_header'></div>
        <div id='result_1_articles' class='result_articles'></div>
        <div id='result_1_errors'></div>
    </div>
    <div id='result_comparisons' class='result'>
        <div id='result_comparison'></div>
    </div>
    <div id='result_2' class='result'>
        <div id='result_2_num_articles'></div>
        <div id='result_2_num_occurrences'></div>
        <div id='result_2_articles_header'></div>
        <div id='result_2_articles' class='result_articles'></div>
        <div id='result_2_errors'></div>
    </div>
    <p id='result_general_errors'></p>
</div>
</body>

<script src='../static/home.js'></script>  <!-- Only import JS after html page is loaded. -->

<script>
    'use strict';

    ///////////// ************************ \\\\\\\\\\\\\
    ////////////       ON PAGE LOAD        \\\\\\\\\\\\\
    ///////////// ************************ \\\\\\\\\\\\\

    $(document).ready(function () {

        ///////
        /// Setup the page
        ///////

        // Create the dropdown menus:
        $.get('/internal/get-languages').done(function (data) {
            // Get the list of languages and create the language dropdown.
            let languages = JSON.parse(data).results.values;
            let defaultOption = 'en';
            createDropdown('language', languages, defaultOption);
        }).fail(function (data) {
            createDropdown('language', {'err': 'Error'});
            $('#language').prop('disabled', true);
        })


        $.get('/internal/get-countries').done(function (data) {
            // Get the list of countries and create the country dropdown.
            let countries = JSON.parse(data).results.values;
            let defaultOption = 'us';
            createDropdown('country', countries, defaultOption);
        }).fail(function (data) {
            createDropdown('country', {'err': 'Error'});
            $('#country').prop('disabled', true);
        })


        $.get('/internal/get-categories').done(function (data) {
            // Get the list of categories and create the categories dropdown.
            let categories = JSON.parse(data).results.values;
            let defaultOption = 'general';
            createDropdown('category', categories, defaultOption);
        }).fail(function (data) {
            createDropdown('category', {'err': 'Error'});
            $('#category').prop('disabled', true);
        })

        // Set the dates:
        // Set the 'date_from' and 'date_to' fields to the default values of 3 days ago and today, respectively, and
        // disable dates out of range (anything outside the last month).
        let today = getLocalDateTime();
        let threeDaysAgo = getLocalDateTime();
        threeDaysAgo.setDate(threeDaysAgo.getDate() - 3);
        let oneMonthAgo = getLocalDateTime();
        oneMonthAgo.setMonth(today.getMonth() - 1);

        let dateFromElement = $('#date_from')[0];
        dateFromElement.value = threeDaysAgo.toISOString().split('T')[0];
        dateFromElement.setAttribute('min', oneMonthAgo.toISOString().split('T')[0]);  // set min date to 1 month ago
        dateFromElement.setAttribute('max', today.toISOString().split('T')[0]);  // set max date to today
        let dateToElement = $('#date_to')[0];
        dateToElement.value = today.toISOString().split('T')[0];
        dateToElement.setAttribute('min', oneMonthAgo.toISOString().split('T')[0]);
        dateToElement.setAttribute('max', today.toISOString().split('T')[0]);

        ///////
        /// Finished page setup.
        /// Now, we will load or reload results once the user enters valid info or if there is a change detected in any of the inputs.
        ///////


        $('#inputs').on('change', function (event) {
            clearTermResults(1);
            clearTermResults(2);

            let searchTerm1 = $('#search_term_1').val();
            let searchTerm2 = $('#search_term_2').val();

            // If either of the terms are populated then load a new result.
            if (searchTerm1 !== '' || searchTerm2 !== '') {
                // We will do the following to get the result(s):
                // 1. Collect the search term and associated parameters like dates
                // 2. Make ajax call to our API to collect the articles for the search
                // 3. Make a second ajax call to our APi to collect the number of term occurrences (done as a separate call due to wait time)

                let termParams = {};

                // get all checkbox values selected for the search_in field, and join with commas into a string
                termParams['searchIn'] = $("input[name='search_in']:checked").map(function () {
                    return $(this).val();
                }).get().join(',');

                // Collect the dates. If dates are disabled then simply don't send them, they will be set by the server.
                // Get the dates with their local time offset so that the server can handle the times appropriately.
                let dateFromVal = $('#date_from').val();
                if (dateFromVal !== 'all') {
                    let dateFrom = new Date(dateFromVal);
                    termParams['from'] = getISOStringWithLocalOffset(dateFrom);
                }

                let dateToVal = $('#date_to').val();
                if (dateToVal !== 'all') {
                    let date_to = new Date(dateToVal);
                    termParams['to'] = getISOStringWithLocalOffset(date_to);
                }

                // Add language, country, and category filters only if they're not disabled.
                let language = $('#language').val();
                if (language !== 'all') {
                    termParams['language'] = language;
                }

                let country = $('#country').val();
                if (country !== 'all') {
                    termParams['country'] = country;
                }

                let category = $('#category').val();
                if (category !== 'all') {
                    termParams['category'] = category;
                }

                // Lastly, retrieve and display the results.
                // Run ajax call and populate page with the results for all terms that are filled in.

                // Store promises returned from the getAndDisplay functions for each term's result so that we can compare the
                // results from both of them to display which term is more relevant.
                let comparisonPromises = [];
                let paramsTerm1 = {};
                let paramsTerm2 = {};
                if (searchTerm1 !== '') {
                    Object.assign(paramsTerm1, termParams);
                    paramsTerm1['q'] = searchTerm1;  // API takes 'q' as the search term
                    comparisonPromises[0] = getAndDisplayArticlesForTerm(paramsTerm1, 1);
                }

                if (searchTerm2 !== '') {
                    Object.assign(paramsTerm2, termParams);
                    paramsTerm2['q'] = searchTerm2;
                    comparisonPromises[1] = getAndDisplayArticlesForTerm(paramsTerm2, 2);
                }

                // When each term's article results come in, load a button for getting the num term occurrences
                Promise.resolve(comparisonPromises[0]).then(function (results) {
                    if (searchTerm1 !== '') {
                        $('#result_1_num_occurrences').html("<button type='button' id='result_1_get_num_occurrences'" +
                            "class='num_occurrences_button'>Load the number of times the term occurs across all pages</button>");
                        $('#result_1_get_num_occurrences').on('click', function (event) {
                            getAndDisplayNumOccurencesForTerm(paramsTerm1, 1);
                        });
                    }
                })

                Promise.resolve(comparisonPromises[1]).then(function (results) {
                    if (searchTerm2 !== '') {
                        $('#result_2_num_occurrences').html("<button type='button' id='result_2_get_num_occurrences'" +
                            "class='num_occurrences_button'>Load the number of times the term occurs across all pages</button>");
                        $('#result_2_get_num_occurrences').on('click', function (event) {
                            getAndDisplayNumOccurencesForTerm(paramsTerm2, 2);
                        });
                    }
                })

                // When both articles results come in, display the comparison. If either of them failed then log error to the console.
                Promise.all(comparisonPromises).then(function (results) {
                    if (searchTerm1 !== '' && searchTerm2 !== '') {
                        let result1Val = results[0];
                        let result2Val = results[1];
                        let moreProminentTerm = result1Val === result2Val ?
                            'neither term' : result1Val > result2Val ?
                                searchTerm1 : searchTerm2;
                        let moreProminentTermDifference = ((Math.abs(result1Val - result2Val) / Math.abs(result1Val + result2Val)) * 100).toFixed(0);
                        $('#result_comparison').html('<b>' + moreProminentTerm + '</b> was more prominent in the news during this time' +
                            (moreProminentTerm === 'neither term' ? '' : ', captivating <b>' + moreProminentTermDifference +
                                '%</b> more of the news articles.'));
                    }
                }).catch(function () {
                    console.log('error getting search term comparisons locally')
                })
            }
        });
    });
</script>
</html>